* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e3f2fd;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background: #fff;
  box-shadow: 0 15px 40px rgba(52, 87, 220, 0.2);
  row-gap: 30px;
  border: 2px solid #fff;
  border-radius: 10px;
}
